.hero {
    background-image:  
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("../../assets/images/tfc2.jpg");
    background-size: cover;
    background-position: center;
    flex: 1; /* Allow the hero section to grow and fill available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 1rem;
    /* animation: zoom 10s infinite; */
    min-height: calc(
      100vh - var(--header-height)
    ); /* Ensure the hero section is at least the full height minus the header height */
  }
  
  .hero-buttons {
    margin: 20px 0;
    display: flex;
  }
  
  .hero-button {
    display: flex;
    background-color: #cea31b;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-between;
  }
  
  .hero h2 {
    font-size: 50px;
  }
  
  .description {
    font-weight: 700;
  }